extends layout

block content
    div.page-header
        h1 Validate a PIN
    div#resp
    form
        div.form-group
            input(placeholder="pin").form-control.input-large#pin
        div.form-group
            button(type="button").btn.btn-success#validateBtn Validate
    div.panel.panel-primary
        div.panel-heading PIN Validation Result
        div.panel-body#res
    